* {
  font-family: Open Sans;
}
body {
  overflow-x: hidden;
}

.carousel, header {
  z-index: -1;
}
.logo {
  width: 70px;
}
#carousel-example-generic {
  height: 480px;
  width: 848px;
}
.carouselTitle {
  font-size: 60px;
  font-weight: 100;
  color: #000;
  font-weight: 600;
  text-shadow: 0 1px 2px #000;
  position: absolute;
  top: 60px;
  left: 10%;
  padding: 5px 20px;
}
.carouselsub {
  font-size: 30px;
  font-weight: 100;
  color: #000;
  font-weight: 600;
  text-shadow: 0 1px 2px #000;
  position: absolute;
  top: 140px;
  left: 10%;
  padding: 5px 20px;
  text-transform: uppercase;
}
.navbar {
  height: 100px;
}
.social {
  padding-right: 37px;
}
.social p {
  font-size: 20px;
  margin: 0;
  margin-left: 10px;
  color: #e60012;
}
.social p i {
  width: 20px;
}
.social p i:hover {
  color: #e60012;
  cursor: pointer;
}
.navbar-nav > li > a::after {
  content: "|";
  padding-left: 10px;
}
.navbar-nav > li:last-child > a::after {
  content: none;
}
.navbar-nav .nav-link {
  text-transform: uppercase;
}
/*Footer*/
.footer-top {
  background-color: #333;
  padding: 50px 0;
  color: #898989;
}
.footer-top h3 {
  color: #898989;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: solid 3.5px ;
  line-height: 22px;
  padding-bottom: 10px;
}
.footer-bottom {
  background-color: #222;
  padding: 10px 0;
  color: rgb(153, 153, 153);
  text-align: center;
  font-size: 12px;
}
.footer-social p i {
  color: #898989;
  margin-right: 10px;
  font-size: 30px;
}
/*Floating Icons*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 5px #25d366;
  z-index:100;
}
.float:hover {
  color: #fff;
}
.float i {
  margin-top:16px;
}

/* Chat */
.float-chat{
	position:fixed;
	width:60px;
	height:60px;
	bottom:120px;
	right:40px;
	background-color:rgb(36, 66, 142);
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 5px rgb(36, 66, 142);
  z-index:100;
}
.float-chat:hover {
  color: #fff;
}
.float-chat i {
  margin-top:16px;
}
