* {
    -webkit-tap-highlight-color: transparent!important;
    font-family: -apple-system, system-ui, STHeiti, "Microsoft YaHei", Arial;
}

.logo {
    width: 70px;
}

.navbar-nav>li>a::after {
    content: '|';
    padding-left: 10px;
}

.navbar-nav>li:last-child>a::after {
    content: none;
}

.explore {
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    padding: 0 10px;
    border-bottom: solid 3px #D3B01C;
}


/* .slide-left {
    background-image: url(assets/slide-left-grey.png);
    display: inline-block;
    width: 41px;
    height: 34px;
}

.slide-left:hover {
    background-image: url(assets/slide-left.png);
}

.slide-right {
    background-image: url(assets/slide-right-grey.png);
    display: inline-block;
    width: 41px;
    height: 34px;
}

.slide-right:hover {
    background-image: url(assets/slide-right.png);
} */

@media (max-width: 767px) {
    .navbar-nav>li>a::after {
        content: none;
        padding-left: 0;
    }
}


/*Explore Hongqi*/

.explore-hongqi h1 {
    text-align: center;
    margin: 50px 0px;
}

.explore-hongqi .nav-link {
    color: #000;
}

.explore-hongqi .nav-item {
    position: relative;
}

.explore-hongqi .nav-item .active:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #000;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.explore-hongqi .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #000;
    background-color: #fff;
}

.explore-hongqi .car-box {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.explore-hongqi .car-box .car {
    flex: 1;
    height: 250px;
}

.explore-hongqi .car-box .car h3 {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}

.explore-hongqi .car-box .car img {
    width: 300px;
}


/*Selected Car*/

.selected-car {
    background-color: #181322;
    padding: 100px 0;
}

.selected-car .area {
    background-color: #fff;
    padding: 50px;
}

.selected-car .area .top-title {
    width: 150px;
    display: block;
}

.selected-car .area .car-title {
    width: 150px;
    margin-top: 50px;
}

.selected-car .car-color-box {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
}

.selected-car .car-color-box .car-color {
    flex: 1;
    margin-right: 10px;
}

.selected-car .car-color-box .car-color img {
    width: 70px;
}

.selected-car .car-color-box .car-color span {
    text-align: center;
    font-size: 14px;
    display: block;
}

.selected-car .display-car {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    align-items: baseline;
}

.selected-car .display-car img {
    align-self: flex-end;
}